/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* ###################################                 
#             Login Page             #   
#  ################################ */

 /* Increase width of logo space */
 #login_logo_url {
     min-width: 300px;
 }

 /* Contain logo */
 #login_logo {
    max-height: 150px;
    width: auto;
    margin: 20px auto;
    display: block;
 }

/* ###################################                 
#     MG Dashboard Settings Page     #
# ################################# */

 /* Increase width of text area */
 #hidden_menu_items, #hidden_editor_menu_items {
     min-width: 350px;
     height: 300px;
 }